<div style="text-align:center">
  <h1>
    Welcome to the Essent Angular Universal Boilerplate
  </h1>
  <img width="300" alt="Angular Logo"
       src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<h2>
  This boilerplate is created to get you started with Angular Universal and offers some frameworks that are default in
  the Essent technology stack.
  The following features are included in this boilerplate:
</h2>

<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://universal.angular.io/">Angular Universal</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/cucumber/cucumber-js">Cucumber for automation
      tests</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/ngrx/store">NgRx (store, effects, devtools,
      router-store)</a></h2>
  </li>
  <li>
    <h2>Essent ts linter</h2>
  </li>
  <li>
    <h2>Essent stylelinter</h2>
  </li>
  <li>
    <h2><a routerLink="/core-module-example">Example using the Essent Core Modules</a></h2>
  </li>
  <li>
    <h2>Gitlab CI steps that runs the linter, unit tests and the automation tests and creates a release build</h2>
  </li>
  <li>
    <h2>Express proxy, Express authentication middleware</h2>
  </li>
  <li>
    <h2>Mocking server to run automation tests and develop locally</h2>
  </li>
</ul>

